.sidebar
  .user
    %h1.user__name
      = current_user.name
    = link_to edit_user_registration_path , class: "user__icon lg" do
      = fa_icon "cog"
    = link_to new_group_path , class: "user__icon lg" do
      = fa_icon "pencil-square-o"
  .group
    %ul.group__list
      = render partial: "common/group-lists", collection: @groups, as: :group
.chat-area
  .group-space
    .group-space__content
      %h1
        =@group.name
      %p
        Members:
        -@group_members.each do |member|
          ="#{member.name}"
    = link_to "Edit",edit_group_path(@group.id) ,class: "group-space__edit"
  .chat-space
    #ul.messages
      .messages__list
        =render @messages
    .post-space
      = form_for [@group, @message], html: { class: 'js-form' } do |f|
        = f.text_area :body , placeholder: "type a message", class: "post-space__text"
        = f.label :image , class: "post-space__image" do
          = fa_icon "picture-o"
        = f.file_field :image , class: "post-space__image" , style: "display:none;"
        = f.submit "Send" , class: "post-space__button"
